body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #141b1c;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightInfo {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10em;
}

#header {
    font-size: 60px;
    color: white;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    max-width: 70%;
    margin-top: -1em;
    margin-bottom: -1em;
    color: white;
}

.icons {
    margin-top: 3em;
    color: white;
}

.leftImage {
    flex-direction: column;
    justify-content: space-around;
    max-width: 40vw;
    margin-right: 10em;
    margin-left: 15em;
    margin-top: -2em;
}
button:hover,
i:hover {
    cursor: pointer;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 0.4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-color: #707070;
    border-radius: 5px;
    margin-top: 3em;
}

a {
    color: inherit;
}

div {
    display: block;
}

i {
    margin-right: 30px;
}

#image {
    max-width: 85%;
    margin-top: 10em;
    border-radius: 15px;
}
.notification {
    margin-top: 1em;
    margin-left: 9em;
}

/* Media queries for tablet screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .rightInfo {
        max-width: 80vw;
        margin-left: 0;
    }

    .leftImage {
        max-width: 50vw;
        margin-right: 0;
        margin-left: -60px;
        margin-top: 0em;
    }
    #image {
        margin-top: 1em;
    }
    .notification {
        margin-top: 1em;
        margin-left: 0em;
    }
}

/* Media queries for mobile screens */
@media (max-width: 480px) {
    #header {
        font-size: 40px;
    }

    .aboutInfo {
        font-size: 20px;
        max-width: 90%;
        margin-top: -0.5em;
        margin-bottom: -0.5em;
    }
    .leftImage {
        margin-left: -15px;
    }

    .icons {
        margin-top: 2em;
    }

    button {
        font-size: 20px;
        margin-top: 2em;
    }

    i {
        margin-right: 15px;
    }
    .notification {
        margin-top: 1em;
        margin-left: 0em;
    }
}
